<section id="team">
  <div class="container">
    <div class="section-header">
      <h3>Nuestro Equipo</h3>
      <p>Trabajando juntos para un futuro sostenible</p>
    </div>

    <div class="row">

      <div class="col-lg-3 col-md-6 wow fadeInUp">
        <div class="member">
          <img src="/assets/img/team-1.jpg" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Martín López</h4>
              <span>Gerente de Marketing</span>

            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="member">
          <img src="/assets/img/team-2.jpg" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Laura García</h4>
              <span>Directora de Operaciones</span>

            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
        <div class="member">
          <img src="/assets/img/team-3.jpg" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Diego Fernández</h4>
              <span>Encargado de Logística</span>

            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="member">
          <img src="/assets/img/team-4.jpg" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Sofía Rodríguez</h4>
              <span>Especialista en Sostenibilidad</span>

            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
