<main id="main">

  <!--==========================
    About Us Section
  ============================-->
  <section id="about">
    <div class="container">

      <header class="section-header">
        <h3>Sobre nosotros</h3>
        <p>EcoDrop es un servicio de entrega de productos ecológicos y sostenibles a domicilio.</p>
      </header>

      <div class="row about-container">

        <div class="col-lg-6 content order-lg-1 order-2">
          <p>
            Nuestro objetivo es ayudar a las personas a adoptar un estilo de vida más consciente con el medio ambiente sin sacrificar la comodidad y la calidad de los productos que utilizan diariamente.
          </p>

          <div class="icon-box wow fadeInUp">
            <div class="icon"><i class="fa fa-shopping-bag"></i></div>
            <h4 class="title"><a href="">Conéctate con EcoDrop</a></h4>
            <p class="description">Los clientes pueden acceder a nuestra plataforma en línea o usar nuestra aplicación móvil para realizar pedidos.</p>
          </div>

          <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
            <div class="icon"><i class="fa fa-photo"></i></div>
            <h4 class="title"><a href="">Descubre nuestra variedad eco-friendly</a></h4>
            <p class="description">Ofrecemos una amplia gama de productos, incluyendo alimentos orgánicos, productos de limpieza ecológicos, artículos de cuidado personal naturales, productos para el hogar sostenibles y mucho más.</p>
          </div>

          <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
            <div class="icon"><i class="fa fa-bar-chart"></i></div>
            <h4 class="title"><a href="">Uniendo fuerzas locales por un futuro sostenible</a></h4>
            <p class="description">Colaboramos directamente con proveedores locales que comparten nuestros valores de sostenibilidad y responsabilidad ambiental. Priorizamos los productos de temporada y de origen local para reducir la huella de carbono asociada con el transporte de larga distancia.</p>
          </div>

        </div>

        <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
          <img src="/assets/img/about-img.svg" class="img-fluid" alt="">
        </div>
      </div>

      <div class="row about-extra">
        <div class="col-lg-6 wow fadeInUp">
          <img src="/assets/img/about-extra-1.svg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
          <h4>Transformando el mundo, un paso eco-friendly a la vez.</h4>
          <p>
            En EcoDrop, nuestra misión es facilitar un estilo de vida sostenible, ofreciendo productos ecológicos de calidad y promoviendo prácticas responsables. Colaboramos con proveedores locales comprometidos con la sostenibilidad, priorizando los productos de temporada y de origen local.
          </p>
          <p>
            A través de transparencia y educación, buscamos inspirar a nuestros clientes a tomar decisiones informadas y responsables.</p>
        </div>
      </div>

      <div class="row about-extra">
        <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
          <img src="/assets/img/about-extra-2.svg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
          <h4>Compras sostenibles sin complicaciones.</h4>
          <p>
            En EcoDrop, hacemos que las compras sostenibles sean fáciles y accesibles. Nuestra plataforma en línea y aplicación móvil te permiten explorar una amplia gama de productos eco-friendly.</p>
          <p>
            Realizar pedidos es rápido y sencillo, y ofrecemos opciones de entrega respetuosas con el medio ambiente. Además, nuestras membresías premium brindan beneficios exclusivos a nuestros clientes comprometidos.</p>
          <p>
            Únete a nuestra comunidad y descubre cómo las pequeñas elecciones pueden marcar una gran diferencia para el planeta.
          </p>
        </div>

      </div>

    </div>
  </section><!-- #about -->
