<header id="header" class="fixed-top">
  <div class="container">

    <div class="logo float-left">
      <a href="#intro" class="scrollto"><img src="/assets/img/header/img_1.png" alt="" class="img-fluid"></a>
      <img src="/assets/img/header/img_2.png">
    </div>

    <nav class="main-nav float-right d-none d-lg-block">
      <ul>
        <li class="active"><a href="#intro">Inicio</a></li>
        <li><a href="#about">Nosotros</a></li>
        <li><a href="#services">Servicios</a></li>
        <li><a href="#portfolio">Blog</a></li>
        <li><a href="#team">Equipo</a></li>
        <li><a href="#contact">Contacto</a></li>
      </ul>
    </nav><!-- .main-nav -->

  </div>
</header>
