<section id="why-us" class="wow fadeIn">
  <div class="container">
    <header class="section-header">
      <h3>Por qué elegirnos?</h3>
      <p>Nuestra diferencia sostenible.</p>
    </header>

    <div class="row row-eq-height justify-content-center">

      <div class="col-lg-4 mb-4">
        <div class="card wow bounceInUp">
            <i class="fa fa-diamond"></i>
          <div class="card-body">
            <h5 class="card-title">Variedad de productos eco-friendly</h5>
            <p class="card-text">Encuentra todo lo que necesitas para un estilo de vida sostenible en un solo lugar, desde alimentos orgánicos hasta artículos para el hogar y cuidado personal naturales.</p>

          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-4">
        <div class="card wow bounceInUp">
            <i class="fa fa-language"></i>
          <div class="card-body">
            <h5 class="card-title">Compromiso con la calidad y la transparencia</h5>
            <p class="card-text">Trabajamos con proveedores locales comprometidos con la sostenibilidad, garantizando la calidad de nuestros productos y priorizando la transparencia en cada paso.</p>

          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-4">
        <div class="card wow bounceInUp">
            <i class="fa fa-object-group"></i>
          <div class="card-body">
            <h5 class="card-title">Experiencia de compra conveniente</h5>
            <p class="card-text">Facilitamos tus compras sostenibles a través de nuestra plataforma en línea y app móvil, con pedidos rápidos y opciones de entrega eco-friendly. Además, nuestros miembros obtienen beneficios exclusivos, como envío gratuito y descuentos especiales. </p>

          </div>
        </div>
      </div>

    </div>

    <div class="row counters">

      <div class="col-lg-3 col-6 text-center">
        <span data-toggle="counter-up">2740</span>
        <p>Clientes</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span data-toggle="counter-up">501</span>
        <p>Proyectos</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span data-toggle="counter-up">10030</span>
        <p>Horas de soporte</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span data-toggle="counter-up">38</span>
        <p>Hard Workers</p>
      </div>

    </div>

  </div>
</section>
