<section id="services" class="section-bg">
  <div class="container">

    <header class="section-header">
      <h3>Servicios</h3>
      <p>Servicios EcoDrop: Tu solución sostenible.</p>
    </header>

    <div class="row">

      <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
        <div class="box">
          <div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
          <h4 class="title"><a href="">Entrega eco-friendly</a></h4>
          <p class="description">Utilizamos vehículos eléctricos y bicicletas para una entrega eco-friendly, reduciendo las emisiones de carbono y preservando el medio ambiente</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
        <div class="box">
          <div class="icon"><i class="ion-ios-bookmarks-outline" style="color: #e9bf06;"></i></div>
          <h4 class="title"><a href="">Productos de temporada</a></h4>
          <p class="description">Ofrecemos productos de temporada para promover la frescura y contribuir a un sistema alimentario más sostenible</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
        <div class="box">
          <div class="icon"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
          <h4 class="title"><a href="">Asesoramiento eco-friendly</a></h4>
          <p class="description">Nuestro equipo de expertos en sostenibilidad te brinda asesoramiento y guías para adoptar prácticas eco-friendly en tu vida diaria</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
        <div class="box">
          <div class="icon"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>
          <h4 class="title"><a href="">Productos de cuidado personal naturales</a></h4>
          <p class="description">Descubre nuestra selección de productos de cuidado personal naturales, libres de químicos dañinos y con un enfoque en la sostenibilidad</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
        <div class="box">
          <div class="icon"><i class="ion-ios-world-outline" style="color: #d6ff22;"></i></div>
          <h4 class="title"><a href="">Descuentos exclusivos</a></h4>
          <p class="description">Nuestras membresías premium ofrecen beneficios exclusivos, como envío gratuito y descuentos especiales, para recompensar a nuestros clientes comprometidos</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
        <div class="box">
          <div class="icon"><i class="ion-ios-clock-outline" style="color: #4680ff;"></i></div>
          <h4 class="title"><a href="">Comunidad eco-friendly</a></h4>
          <p class="description">Únete a nuestra comunidad de EcoDroppers, donde puedes compartir ideas, participar en eventos y colaborar con otros en proyectos sostenibles</p>
        </div>
      </div>

    </div>

  </div>
</section>
